@import '~scss/vars';

.pages {
  &__item {
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid map-get($colors, borders);
    }

    h3 {
      display: inline-block;
      vertical-align: middle;

      color: map-get($colors, pageItem);

      font-size: 14px;
      font-weight: 400;
  
      cursor: pointer;

      @media (min-width: 480px) {
        font-size: 18px;
      }
    }
  }
}