@import '~scss/vars';

.topics {
  &__item {
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid map-get($colors, borders);
    }

    h3, span {
      display: inline-block;
      vertical-align: middle;
    }

    h3 {
      margin-right: 10px;

      color: map-get($colors, pageItem);

      cursor: pointer;
    }

    span {
      color: map-get($colors, pageItemDetails);

      font-size: 12px;
      text-transform: uppercase;

      @media (min-width: 480px) {
        font-size: 14px;
      }
    }
  }
}