@import '~scss/vars';
@import '~scss/base';

.app {
  width: 100%;
  max-width: 960px;

  margin: 0 auto;
  padding: 10px;

  @media (min-width: 480px) {
    padding: 20px;
  }

  &__header {
    display: block;

    padding: 0 0 20px 0;

    h1, h2 {
      display: inline-block;
      vertical-align: middle;

      line-height: 1;
    }

    h1 {
      margin-right: 15px;
    }

    h2 {
      margin-top: 4px;
    }
  }

  &__body {
    padding: 10px;

    background: map-get($colors, page);

    @media (min-width: 480px) {
      padding: 20px;
    }
  }

  &__menu {
    &Item {
      display: inline-block;
      vertical-align: bottom;

      font-weight: 700;

      &:not(:last-child) {
        margin-right: 5px;

        @media (min-width: 480px) {
          margin-right: 10px;
        }
      }

      a {
        display: block;

        margin-bottom: -1px;
        padding: 10px 20px;

        background: map-get($colors, menuInactiveBackground);
        color: map-get($colors, menuInactiveText);

        border: 1px solid transparent;
        border-bottom: none;

        transition: 0.2s all ease-in-out;

        &:hover, &.active {
          background: map-get($colors, menuActiveBackground);
          color: map-get($colors, menuActiveText);
  
          border: 1px solid map-get($colors, pageFrame);
          border-bottom: none;
        }
      }
    }
  }

  &__content {
    padding: 20px 30px;

    background: map-get($colors, menuActiveBackground);

    border: 1px solid map-get($colors, pageFrame);

    @media (min-width: 480px) {
      padding: 20px 40px;
    }
  }
}
