html, body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: map-get($colors, base);
  color: map-get($colors, secondary);

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;

  @media (min-width: 480px) {
    font-size: 14px;
  }
}

h1 {
  color: map-get($colors, heading);

  font-size: 22px;
  font-weight: 700;

  @media (min-width: 480px) {
    font-size: 28px;
  }
}

h2 {
  color: map-get($colors, subHeading);

  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;

  @media (min-width: 480px) {
    font-size: 14px;
  }
}

h3 {
  font-size: 14px;
  font-weight: 400;

  @media (min-width: 480px) {
    font-size: 18px;
  }
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;

  text-decoration: none;
}