$colors: (
  base: #99a2a9,
  page: #636d76,
  pageFrame: #474b54,
  heading: #FFF,
  subHeading: #e1e9ec,
  menuInactiveBackground: #474b54,
  menuInactiveText: #fff2bb,
  menuActiveBackground: #FFF,
  menuActiveText: #245695,
  pageItem: #5d468e,
  pageItemDetails: #8195a0,
  borders: #d5dddf,
);