@import '~scss/vars';

.archives {
  &__item {
    display: table;

    width: 100%;

    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid map-get($colors, borders);
    }

    &Image, &Text {
      display: table-cell;
      vertical-align: middle;
    }

    &Image {
      width: 30px;

      @media (min-width: 480px) {
        width: 60px;
      }

      img {
        width: 30px;

        cursor: pointer;

        @media (min-width: 480px) {
          width: 60px;
        }
      }
    }

    &Text {
      width: 100%;

      padding-left: 20px;

      span {
        cursor: pointer;
      }
    }
  }
}